<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <meta http-equiv="Cache-Control" content="no-store" />
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script type="text/javascript" src="myScript.js"></script>

</head>
<body>


<div id="app">
    <div v-if="mostrareLog">
        <h1>Login</h1>
        <p><label for="login"><b>Username: </b></label>
            <input type="text" v-model="account" required/></p>
        <p><label for="pass"><b>Password: </b></label>
            <input type="password" v-model="pass" required></p>
        <p><button v-on:click="enviare">OK</button></p>
    </div>

    <div v-if="mostrareElenPre" >
        <h2>Nuova Prenotazione</h2>
        <table>
            <thead>
                <tr>
                    <th>ORA/GIORNO</th>
                    <th>LUNEDI</th>
                    <th>MARTEDI</th>
                    <th>MERCOLEDI</th>
                    <th>GIOVEDI</th>
                    <th>VENERDI</th>
                </tr>
            </thead>
            <tbody>
                    <tr v-for="i in 4">
                            <td>{{ore[i-1]}}</td>
                            <td v-for="j in 5">
                                <div v-for="k in (celde[(i-1)*5 +j-1]).libres">
                                    <h4>{{k.d.nome}} {{k.d.cognome}}</h4>
                                    <div v-for="v of k.corso">{{v.titulo}} <input v-if="!admin" type="checkbox" :value="giorni[j-1]+9+ore[i-1]+9+k.d.nome+9+k.d.cognome+9+v.titulo" v-model="checked"> </div>
                                </div>
                            </td>
                    </tr>
                </div>
            </tbody>
        </table>
        <p><button v-on:click="prenotare">PRENOTARE</button></p>
        <span>Checked: {{checked}}</span>

        <h2>I miei prenotazioni</h2>
        <h3>Attivi:</h3>
        <div v-if="attivi.length===0">Non c'è nessuna prenotazione attivi.</div>
        <table>
            <tr v-if="attivi.length!==0">
                <th v-if="admin">Utente</th>
                <th >Ora</th>
                <th>Giorno</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Corso</th>
                <th v-if="!admin">Effettuare</th>
                <th>Disdire</th>
            </tr>
            <tr v-for="p in attivi":key="p.stato">
                 <td v-if="admin" >{{p.u.user}}</td>
                <td>{{p.ora}}</td>
                <td>{{p.giorno}}</td>
                <td>{{p.d.cognome}}</td>
                <td>{{p.d.nome}}</td>
                <td>{{p.c.titulo}}</td>
                <td v-if="!admin"><button v-on:click="effettuare(p)">EFF</button></td>
                <td><button v-on:click="disdire(p)">X</button></td>
            </tr>
        </table>


        <h3>Effettuati:</h3>
        <div v-if="effettuati.length===0">Non c'è nessuna prenotazione effettuati.</div>
        <table v-if="effettuati.length!==0">
            <tr>
                <th v-if="admin">Utente</th>
                <th>Ora</th>
                <th>Giorno</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Corso</th>
                <th>Disdire</th>
            </tr>
            <tr v-for="p in effettuati":key="p.stato">
                <td v-if="admin">{{p.u.user}}</td>
                <td>{{p.ora}}</td>
                <td>{{p.giorno}}</td>
                <td>{{p.d.cognome}}</td>
                <td>{{p.d.nome}}</td>
                <td>{{p.c.titulo}}</td>
                <td><button v-on:click="disdire(p)">X</button></td>
            </tr>
        </table>


        <h3>Disdeti:</h3>
        <div v-if="disdeti.length===0">Non c'è nessuna prenotazione disdeta.</div>
        <table>
            <tr v-if="disdeti.length!==0">
                <th v-if="admin" >Utente</th>
                <th>Ora</th>
                <th>Giorno</th>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Corso</th>
            </tr>
            <tr v-for="p in disdeti":key="p.stato">
                <td v-if="admin">{{p.u.user}}</td>
                <td>{{p.ora}}</td>
                <td>{{p.giorno}}</td>
                <td>{{p.d.cognome}}</td>
                <td>{{p.d.nome}}</td>
                <td>{{p.c.titulo}}</td>
            </tr>
        </table>



    </div>
    <div v-if="erroreConn" >
        Utente o password sbagliato.
    </div>

    <div v-if="admin">
        <h2>Impostazioni </h2>
        <h3>Inserire docente</h3>

        <p><label><b>Nome: </b></label>
            <input type="text" v-model="nome"/>
            <label  v-if="erroreDocNome"> Campo vuoto </label>
        </p>
        <p><label ><b>Cognome: </b></label>
            <input type="text" v-model="cognome"/>
            <label  v-if="erroreDocCogome"> Campo vuoto </label>
        </p>
        <p><button v-on:click="nuovoDoc">Submit</button></p>

        <h3>Elenco di docenti.</h3>
        <div v-if="elencoDoc.length===0">Non c'è nessun docente registrato.</div>
        <table>
            <tr v-if="elencoDoc.length!==0">
                <th>Cognome</th>
                <th>Nome</th>
                <th>Rimuoveri</th>
            </tr>
            <tr v-for="d in elencoDoc">
                <td>{{d.cognome}}</td>
                <td>{{d.nome}}</td>
                <td><button v-on:click="rimDoc(d)">X</button></td>
            </tr>
        </table>

        <h3>Inserire corso</h3>
        <p><label for="corso"><b>Corso: </b></label>
            <input type="text" v-model="corso"/>
            <label for="eCorso" v-if="erroreCorso"> Campo vuoto </label>
        </p>
        <p><button v-on:click="nuovoCor">Submit</button></p>

        <h3>Elenco di corsi.</h3>
        <div v-if="elencoCorsi.length===0">Non c'è nessun corso registrato.</div>
        <table>
            <tr v-if="elencoCorsi.length!==0">
                <th>Titolo</th>
                <th>Rimuoveri</th>
            </tr>
            <tr v-for="c in elencoCorsi">
                <td>{{c.titulo}}</td>
                <td><button v-on:click="rimCorso(c)">X</button></td>
            </tr>
        </table>

        <h3>Nuova associazione.</h3>

        <select v-model="docSelect">
            <option v-for="d in elencoDoc" :value="d">{{d.cognome}} {{d.nome}}</option>
        </select>

        <select v-model="corSelect">
            <option v-for="c in elencoCorsi" :value="c">{{c.titulo}}</option>
        </select>
        <p><button v-on:click="nuovaAssoc(docSelect,corSelect)">Submit</button></p>
        <h3>Elenco di associazioni.</h3>
        <div v-if="associzioni.length===0">Non c'è nessuna associazione registrata.</div>
        <div v-for="a in associzioni">
            <h4 >
                {{a.d.cognome}}, {{a.d.nome}}
            </h4>
                <table>
                    <thead>
                        <tr>
                            <th>Titolo</th>
                            <th>Rimuoveri</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="c in a.corso">
                            <td>{{c.titulo}}</td>
                            <td><button v-on:click="rimAssoc(a.d,c)">X</button></td>
                        </tr>
                    </tbody>
                </table>

        </div>



    </div>

</div>
<script>

    var app = new Vue ({
        el: '#app',
        data: {
            account : '',
            pass : '',
            link : '/Progetto/ServletController',
            mostrareLog : true,
            admin : false,
            elencoPre : [],
            mostrareElenPre : false,
            erroreConn : false,
            erroreDocNome : false,
            erroreDocCogome : false,
            nome : '',
            cognome : '',
            corso : '',
            erroreCorso : false,
            elencoDoc : [],
            elencoCorsi : [],
            docSelect: '',
            corSelect: '',
            associzioni: [],
            ore: [15,16,17,18],
            giorni: ["LUNEDI","MARTEDI","MERCOLEDI","GIOVEDI","VENERDI"],
            checked: [],
            celde: []

        },
        computed:{
            attivi: function() {
                return this.elencoPre.filter(function(item) {
                    return item.stato == "ATTIVA";
                })
            },
            effettuati: function() {
                return this.elencoPre.filter(function(item) {
                    return item.stato == "EFFETTUATA";
                })
            },
            disdeti: function() {
                return this.elencoPre.filter(function(item) {
                    return item.stato == "CANCELLATA";
                })
            }
        },
        methods:{
            inCelda: function (g,o) {
                return this.celde.filter(function (item) {
                    return item.giorno === g && item.ora === o;
                })
            },
            getCeldas:function() {
                var self = this;
                $.post(this.link, {azione: "oraLibera", utente: this.account}, function (data) {
                    self.celde = data;
                });
                var celde = [];
                for (var o of self.ore){
                    for (var g of self.giorni){
                        celde.push(self.inCelda(g,o));
                    }
                }
                self.celde = celde;
            },
            getDocenti:function() {
                var self = this;
                $.post(this.link, {azione: "elencoDoc", utente: this.account}, function (data) {
                    self.elencoDoc = data;
                });
            },
            getPrenotazioni:function() {
                var self = this;
                $.post(this.link, {azione: "elencoPre", utente: this.account}, function (data) {
                    self.elencoPre = data;
                });
            },
            getCorsi:function() {
                var self = this;
                $.post(this.link, {azione: "elencoCor", utente: this.account}, function (data) {
                    self.elencoCorsi = data;
                });
            },
            getAssoc:function() {
                var self = this;
                $.post(this.link, {azione: "elencoAsso", utente: this.account}, function (data) {
                    self.associzioni = data;
                });
            },
            nuovoDoc:function(){
                var self = this;
                self.erroreDocNome = (this.nome == "")
                self.erroreDocCognome = (this.cognome == "");
                if (!self.erroreDocNome && !self.erroreDocCognome) {
                    $.post(this.link, {azione: "nuovoDoc", nome: this.nome, cognome: this.cognome}, function (data) {
                        console.log(self.elencoDoc.includes(data));
                        console.log(data);
                        console.log(self.elencoDoc);
                        if (!(self.elencoDoc.includes(data))) {
                            alert(self.nome + " " + self.cognome + " ha stato inserito.");
                            self.elencoDoc.push(JSON.parse(data));
                        }
                        else{
                            alert(self.nome + " " + self.cognome +  " è già registrato.");
                        }
                        self.nome = '';
                        self.cognome = '';
                    });
                }

            },
            rimDoc:function(d){
                var self = this;
                $.post(this.link, {azione: "rimDoc", docente: JSON.stringify(d)});
                alert( d.nome  + " "+ d.cognome +" ha stato rimosso.");
                self.elencoDoc = self.elencoDoc.filter( el => el !== d );
                self.getAssoc();


            },

            nuovoCor:function(){
                var self = this;
                self.erroreCorso = (this.corso == "");
                if (!self.erroreCorso) {
                    $.post(this.link, {azione: "nuovoCor", corso: this.corso}, function (data) {
                        if (!(self.elencoCorsi.includes(data))) {
                            alert("Il corso " + self.corso + " ha stato inserito.");
                            self.elencoCorsi.push(JSON.parse(data));
                        }
                        else{
                            alert("Il corso " + self.corso + " è già registrato.");
                        }
                        self.corso = '';
                    });
                    self.getCeldas();
                }
            },

            rimCorso:function(c){
                var self = this;
                $.post(this.link, {azione: "rimCorso", corso: JSON.stringify(c)} , function(data) {

                });
                alert( c.titulo +" ha stato rimosso.");
                self.elencoCorsi = self.elencoCorsi.filter( el => el !== c );
                self.getAssoc();
                self.getCeldas();
            },

            nuovaAssoc:function(d,c){
                var self = this;
                self.erroreCorso = (c.titulo == "");
                self.erroreDocNome = (d.nome == "");
                self.erroreDocCognome = (d.cognome == "");
                if (!self.erroreCorso && !self.erroreDocNome && !self.erroreDocCognome ) {
                    $.post(this.link, {azione: "nuovaAssoc", corso: JSON.stringify(c), docente: JSON.stringify(d)} , function(data) {
                        alert("Associazione creata.");
                        // inserto il nuovo elemento nell'elenco senza chiamare al servLet una volta ancora
                        var trovato = false;
                        for (var i =0; i < self.associzioni.length; i++){
                            if ((self.associzioni)[i]["docente"]["nome"] === d.nome && (self.associzioni)[i]["docente"]["cognome"] === d.cognome) {
                                ((self.associzioni)[i]["corso"]).push(c);
                                trovato = true;
                                break;
                            }
                        }
                        if (!trovato)
                            self.associzioni.push(JSON.parse(data));
                    });

                }
            },

            rimAssoc:function(d,c){
                var self = this;
                $.post(this.link, {azione: "rimAsso", corso: JSON.stringify(c), docente: JSON.stringify(d)} , function(data) {

                });
                self.getAssoc();
                alert("Associazione rimossa.");
                self.getCeldas();
            },

            effettuare:function(p){
                var self = this;
                $.post(this.link, {azione: "effettuare", pre: JSON.stringify(p)});
                p.stato = "EFFETTUATA";
                self.getCeldas();
            },
            disdire:function(p){
                var self = this;
                $.post(this.link, {azione: "disdire", pre: JSON.stringify(p)});
                p.stato = "CANCELLATA";
                self.getCeldas();
            },
            prenotare:function() {
                var self = this;
                var pre = [];
                for (var c of self.checked){
                    var stringe = c.split("9");
                    var doc = {nome: stringe[2], cognome: stringe[3]};
                    var utente = {user: self.account, pass: self.pass, admin: self.admin};
                    var corso = {titulo: stringe[4]};
                    var p = {ora: stringe[1], giorno: stringe[0], d: doc, c: corso, u: utente, stato: "ATTIVA"};
                    pre.push(p);
                    self.elencoPre.push(p);
                }
                console.log(pre);
                $.post(this.link, {azione: "prenotare", prenotazioni: JSON.stringify(pre)});
                self.getCeldas();
                self.checked = [];
            },
            enviare:function(){
                var self = this;
                $.post(this.link, {azione: "connessione", utente: this.account , password: this.pass} , function(data) {
                    switch(data){
                        case "a":
                            self.admin = false;
                            self.erroreConn = false;
                            self.mostrareLog = false;
                            self.getPrenotazioni();
                            self.getCeldas();
                            self.mostrareElenPre = true;
                            break;
                        case "ad":
                            self.getDocenti();
                            self.getCorsi();
                            self.getPrenotazioni();
                            self.getAssoc();
                            self.getCeldas();
                            self.admin = true;
                            self.mostrareLog = false;
                            self.erroreConn = false;
                            self.mostrareElenPre = true;
                            break;

                        case "f":
                            self.erroreConn = true;
                            break;


                    }

                });
            }




        }
    });

</script>


</body>
</html>