<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>home</title>
    <meta http-equiv="Cache-Control" content="no-store" />
</head>
<body>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>





<div id="app">
    <div v-if="mostrareLog">
        <h1>Login</h1>
        <p><label for="login"><b>Login: </b></label>
            <input type="text" v-model="account" required/></p>
        <p><label for="pass"><b>Password: </b></label>
            <input type="password" v-model="pass" required></p>
        <p><button v-on:click="enviare">OK</button></p>
    </div>

    <div v-if="mostrareElenPre" >
        <h2>I miei prenotazioni</h2>
        <h3>Attivi:</h3>
        <ul>
            <li  v-for="p in attivi":key="p.stato">
                {{p.ora}} {{p.giorno}} {{p.d.cognome}} {{p.d.nome}}  {{p.c.titulo}} </li>
        </ul>

        <h3>Efettuati:</h3>
        <ul>
            <li  v-for="p in efettuati":key="p.stato">
            {{p.ora}} {{p.giorno}} {{p.d.cognome}} {{p.d.nome}}  {{p.c.titulo}} </li>
        </ul>

        <h3>Disdeti:</h3>
        <ul>
            <li  v-for="p in disdeti":key="p.stato">
            {{p.ora}} {{p.giorno}} {{p.d.cognome}} {{p.d.nome}}  {{p.c.titulo}} </li>
        </ul>


    </div>
    <div v-if="erroreConn" >
        Utente o password sbagliato.
    </div>

    <div v-if="admin">
        <h2>Impostazioni </h2>
        <h3>Inserire docente</h3>
        <!--<form action="/index.html">
            Nome: <input type="text" v-model="nome" required/></p>
            <br>
            Cognome: <input type="text" v-model="cognome" required/></p>
            <br>
            <button v-on:click="nuovoDoc">Submit</button>
        </form>-->

        <p><label for="nome"><b>Nome: </b></label>
            <input type="text" v-model="nome"/>
            <label for="eNome" v-if="erroreDocNome"> Campo vuoto </label>
        </p>
        <p><label for="cognome"><b>Cognome: </b></label>
            <input type="text" v-model="cognome"/>
            <label for="eCog" v-if="erroreDocCog"> Campo vuoto </label>
        </p>
        <p><button v-on:click="nuovoDoc">Submit</button></p>

        <h3>Elenco di docenti.</h3>


        <table>
            <tr>
                <th>Cognome</th>
                <th>Nome</th>
                <th>Rimuoveri</th>
            </tr>
            <tr v-for="d in elencoDoc">
                <td>{{d.cognome}}</td>
                <td>{{d.nome}}</td>
                <td><button v-on:click="rimDoc(d)">X</button></td>
            </tr>
        </table>

        <h3>Inserire corso</h3>
        <p><label for="corso"><b>Corso: </b></label>
            <input type="text" v-model="corso"/>
            <label for="eCorso" v-if="erroreCorso"> Campo vuoto </label>
        </p>
        <p><button v-on:click="nuovoCor">Submit</button></p>

    </div>

</div>

<script>
    var app = new Vue ({
        el: '#app',
        data: {
            account : '',
            pass : '',
            link : '/Progetto/ServletController',

            mostrareLog : true,
            admin : false,
            elencoPre : [],
            mostrareElenPre : false,
            erroreConn : false,
            erroreDocNome : false,
            erroreDocCog : false,
            nome : '',
            cognome : '',
            corso : '',
            erroreCorso : false,
            elencoDoc : []

        },
        computed:{
            attivi: function() {
                return this.elencoPre.filter(function(item) {
                    return item.stato == "ATTIVA";
                })
            },
            efettuati: function() {
                return this.elencoPre.filter(function(item) {
                    return item.stato == "EFETTUATA";
                })
            },
            disdeti: function() {
                return this.elencoPre.filter(function(item) {
                    return item.stato == "CANCELLATA";
                })
            }
        },
        methods:{
            getDocenti:function() {
                var self = this;
                $.post(this.link, {azione: "elencoDoc", utente: this.account}, function (data) {
                    self.elencoDoc = data;
                });
            },
            getPrenotazioni:function() {
                var self = this;
                $.post(this.link, {azione: "elencoPre", utente: this.account}, function (data) {
                    self.elencoPre = data;
                });
            },


            nuovoDoc:function(){
                var self = this;
                self.erroreDocNome = (this.nome == "");
                self.erroreDocCog = (this.cognome == "");
                if (!self.erroreDocNome && !self.erroreDocCog) {
                    $.post(this.link, {azione: "nuovoDoc", nome: this.nome, cognome: this.cognome}, function (data) {
                        alert(self.nome + " " + self.cognome + " ha stato inserito.");
                        self.nome = '';
                        self.cognome = '';
                        self.elencoDoc.push(JSON.parse(data));
                    });
                }

            },

            rimDoc:function(d){
                var self = this;
                $.post(this.link, {azione: "rimDoc", nome: d.nome , cognome: d.cognome} , function(data) {

                });
                alert( d.nome  + " "+ d.cognome +" ha stato rimosso.");
                self.elencoDoc = self.elencoDoc.filter( el => el !== d );


            },

            nuovoCor:function(){
                var self = this;
                console.log("nuevoDoc");
                self.erroreCorso = (this.corso == "");
                if (!self.erroreCorso) {
                    $.post(this.link, {azione: "nuovoCor", corso: this.corso}, function (data) {
                        alert("Il corso " + self.corso + " ha stato inserito.");
                    });
                }
            },

            enviare:function(){
                var self = this;
                $.post(this.link, {azione: "connessione", utente: this.account , password: this.pass} , function(data) {
                    switch(data){
                        case "a":
                            self.admin = false;
                            self.erroreConn = false;
                            self.mostrareLog = false;
                            self.getPrenotazioni();
                            self.mostrareElenPre = true;
                            break;
                        case "ad":
                            self.getDocenti();
                            self.admin = true;
                            self.mostrareLog = false;
                            self.erroreConn = false;
                            self.getPrenotazioni();
                            self.mostrareElenPre = true;
                            break;

                        case "f":
                            self.erroreConn = true;
                            break;


                    }
                    console.log(self.erroreConn);

                });
            }




        }
    });
</script>


</body>
</html>