#app {
    width: 85%;
    margin: auto;
}

header {
    margin-bottom: 10px;
    margin-top: 15px;
}

nav {
    clear: both;
    margin-bottom: 10px;
    margin-top: 15px;
    width: 100%;
    float: left;
}

nav span{
    text-align:left;
    margin-bottom:20px;
    float: left;
}

nav span button {
    text-decoration:none;
    padding: 2px 7px 2px 7px;
}


#logo{
    width: 38%;

}

#log {
    width: 25%;
    float: right;
    text-align: center;

}

#logout {
    width: 25%;
    float: right;
    text-align: center;

}

#tabela {
    clear: bottom;

}